.background{
    background-image: url("./background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.nav-custom{
    background-color: rgba(26, 28, 28, 0.5);
}

.model{
    position: relative;
}
.thuKinh{
    position: absolute;
    top: 30%;
    left: 50%;
    transform:translate(-50%,-30%);
}
.sanPham{
    padding-top: 30px;
    width: 100%;
    background-color:#444;
    height: 300px;
}
.model__info{
    background-color:rgba(212, 110, 38,0.5);
    width: 50%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    color: white;
    padding-left: 10px;
    padding-top: 10px;
}
.model__info h3{
    color: blue;
}
.model__info p{
    font-size: 13px;
}
.sanPham-border{
    border: 1px solid white;
    height: 60px;
}